/*test changer*/
:root{
--topnavbg: #911456;
--pricol: #ffffff;
--seccol: #6e43af;
}

body, img{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

/*==TOP NAV==*/
.top-header{
    width: 100%;
    position: fixed;
    z-index: 999;
}

.top-menu{
    width: 100%;
    height: 55px;
    line-height: 56px;
    background: var(--topnavbg);
}

.top-menu a{
    color: var(--pricol);
    margin-left: 10px;
}
.top-contact img{
    vertical-align: -3px;
    margin-left: 7px;
}

.top-contact{
    float: left;
    margin-left: 200px;
}


.top-social-media{
    float: right;
    margin-right: 200px;
}

.top-social-media img{
    margin-left: 25px;
}

/*==TOP-SUB NAV==*/

.top-sub-menu{
    width: 100%;
    height: 85px;
    background: var(--pricol);
}

.top-logo img{
    float: left;
    margin-left: -350px;
}

.top-nav-menu{
    float: right;
    margin-right: 200px;
    line-height: 85px;
}

.nav-menu ul{
    margin: 0;
    padding: 0;
    list-style: none;

}

.nav-menu ul li{
    float: left;
    width: 150px;
    height: 85px;
    text-align: center;
}

.top-nav-menu ul li a{
    text-transform: uppercase;
    color: #383333;
}

/*+++++++*/
.section-img{
    width: 100%;
}
.section-img img{
    background-size: fit;
    position: relative;
    max-width: 100%;
}

.container-info{
    position: absolute;
    width: 497px;
    top: 30%;
    margin-left: 200px;
}

.container-info h1{
    color: var(--seccol);
}

.container-info h2{
    color: var(--topnavbg);
}

/*======SERVICES=======*/

.container-services{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 55px;
}

.container-services h1{
    text-transform: uppercase;
    font-size: 1.2rem;
}

.container-services img{
    width: 80px;
    height: 80px;
}

.svr-protf, .lifecycle, .architec{
    width: 20%;
    height: 346px;
    margin-left: 2%;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid   #cccccc;
    box-shadow: 1px 10px 20px #cccccc;
}

.btn-default{
    width: 127px;
    height: 38px;
    border: none;
    margin-top: 25px;
    border-radius: 3px;
    color: var(--pricol);
    background-color: var(--seccol);
}

.btn-default:hover{
    background-color: #664991;
    cursor: pointer;
}

/*=========ABOUT==========*/
.about-container{
    width: 100%;
    height: 556px;
    background-color: #efedee;
    background-image: url("../../img/bg/left-side-bg.png");
    background-repeat: no-repeat;
}

.about-img{
    float: left;
    width: 30%;
    margin-top: 45px;
    margin-left: 260px;
}

.about-inner{
    float: right;
    width: 38%;
    margin-top: 95px;
    margin-right: 190px;
    text-align: justify;
}

.about-inner h2{
    color: var(--seccol);
}

.separator{
    border-bottom: 3px solid var(--topnavbg);
    display: block;
    width: 110px;
}

/*=========EXPERTISE==========*/
.expertice-container{
    width: 100%;
    height: 500px;
    background-image: url("../../img/bg/sec-bg.png");
}

.expertice-img{
    float: right;
    width: 30%;
    margin-top: 120px;
    margin-right: 260px;
}

.expertice-inner{
    float: left;
    width: 38%;
    margin-top: 80px;
    margin-left: 190px;
    text-align: justify;
}

.expertice-inner h2{
    color: var(--seccol);
}

/*=========SECTION 2==========*/

.section-image img{
    max-width: 100%;
}

/*=========COLLABORATION==========*/

.collaboration-sec{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
}

.datacenter-sec, .collab-sec, .servc-sec{
    width: 22%;
    height: 470px;
    margin-left: 1%;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 1px 10px 20px #cccccc;
}

/*=========PARTENERS==========*/

.partner-container{
    text-align: center;
    margin: 65px;
}

.partner-container img{
    margin-left: 90px;
}

/*=========FOOTER==========*/

.footer-container{
    width: 100%;
    background-color: var(--seccol);
}

.footer-inner{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-container ul li, p{
    list-style: none;
    line-height: 1.5rem;
}

.footer-container{
    color: var(--pricol);
}

input[type="text"], input[type="submit"]{
    display: block;
    width: 265px;
    height: 40px;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
}

input[type="submit"]{
    width: 268px;
    background-color: var(--topnavbg);
    color: var(--pricol);
    font-weight: bold;
}

input[type="submit"]:hover{
    background-color: #a81d67;
    cursor: pointer;
}
.bottom-logo, .imp-links, .architect, .newletter{
    width: 20%;
}

.copyright-sec{
    max-width: 100%;
    height: 55px;
    padding: 2px 0 0 150px;
    background-color: var(--topnavbg);
}

/*=========MEDIA QUERIES==========*/
@media screen and (max-width: 740px){
    body{
        position: absolute;
        background-color: green;
    }
    .top-nav-menu{
        display: none;
    }
}